<div class="weui_panel ydw_item">
  <div class="weui-row">
    <div class="weui-col-75 ydw_paytoyitemdesc">
      <ul>
        <li class="weui-col-100">{{product.product_detail.product_name}}</li>
      </ul>
    </div>
  </div>
</div>
