<div class="weui_panel ydw_item">
  <div class="weui-row">
    <div class="weui-col-75 ydw_paytoyitemdesc">
      <ul>
        <li>{{product.product_detail.product_name}}</li>
        <li>{{product.product_detail.product_desc}}</li>
      </ul>
    </div>
  </div>
</div>
