<div class="cell">
  <div class="hd">
    <p class="page_title">不好意思，出错了</p>
    <p class="page_desc">{{error.status}}</p>
    <p class="page_desc">{{msg}}</p>
  </div>
  <div class="bd">
    <pre>{{error.stack}}</pre>
    <div class="ydw_bottom_area">
      <div class="ydw_font_small">您可以截屏下来，通过公众号把图片发给客服人员，找到bug有奖励哦！</div>
      <div class="ydw_font_small">{{now 'YYYY-MM-DD HH:mm:ss'}}</div>
    </div>
  </div>
</div>
