<div class="cell">
  <div class="bd">

    <div class="weui_cells_title">请拍几张照片，并提交商品描述</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <div class="weui_uploader">
            <div class="weui_uploader_bd">
              <ul class="weui_uploader_files">
              </ul>
              <div class="weui_uploader_input_wrp">
                <input class="weui_uploader_input" type="button"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea id="product_name" class="weui_textarea ydw_font_small" placeholder="标题" rows="1"></textarea>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea id="product_desc" class="weui_textarea ydw_font_small" placeholder="详细说明" rows="4"></textarea>
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">希望价格(元)</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input id="price" class="weui_input" style="text-align: right; " type="number" placeholder="请输入希望价格" value="0">
        </div>
      </div>
    </div>

    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <button href="javascript:;" id="btn_submit" class="weui_btn weui_btn_disabled weui_btn_primary">发布</button>
      </p>
    </div>
  </div>
</div>

<!--Locate_nav end-->
{{#extend "scripts"}}
<script>
 jsApilist = jsApilist.concat([
     'chooseImage',
     'uploadImage',
     'previewImage'
 ]);
 var previewUrls = [];
 $(function () {
     $('#btn_submit')
         .prop('disabled', true)
         .addClass('weui_btn_disabled');

     $("#product_name,#product_desc,#price,").keyup(function() {
         if($('#product_name').val().length >= 10 &&
            $('#product_desc').val().length >= 10 &&
            $('#price').val().length >= 1) {
             $('#btn_submit').prop('disabled', false).removeClass('weui_btn_disabled');
         } else {
             $('#btn_submit').prop('disabled', true).addClass('weui_btn_disabled');
         }
     });

     $('#btn_submit').click(function () {
         $.showLoading('数据提交中');
         $.ajax({
             url: '/product/new',
             type: 'post',
             data: {
                 seller: '{{req.session.user._id}}',
                 product_detail: {
                     product_name: $('#product_name').val(),
                     price: $('#price').val(),
                     product_desc: $('#product_desc').val(),
                     images: previewUrls
                 }
             }
         }).done(function(res) {
             $.hideLoading();
             $.toast('数据上传完毕。', function() {
                 window.location = '/product/' + res.product._id;
             });
         });

     });
     $('.weui_uploader_input').click(function () {
         wx_upload('/product/upload', function(data) {
             if(data.success){
                 previewUrls.push(data.image);
                 var insertHtml = '<li class=\"weui_uploader_file\" style=\"background-image:url(' + data.image + ')\" onclick=\"javascript:previewImage(\'' + data.image + '\');\"></li>';
                 $('.weui_uploader_files').append(insertHtml);
             } else {
                 $.toast('图片上载出错啦', 'forbidden');
             }
         });
     });

 });
 function previewImage(url) {
     wx.previewImage({
         current: url,
         urls: previewUrls
     });
 };

</script>
{{/extend}}
