<div class="weui_tab">
  <div class="weui_tab_bd">
    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_bd">
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
          <div class="weui_media_hd">
            <img class="weui_media_appmsg_thumb ydw_portrait" src="{{user.headimgurl}}" alt="">
          </div>
          <div class="weui_media_bd">
            <h4 class="weui_media_title">{{user.nickname}}</h4>
          </div>
          <span class="weui_cell_ft"></span>
        </a>
      </div>
    </div>

    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="/product/new">
        <div class="weui_cell_hd">
          <i class="fa fa-qrcode ydw_cell_hd_image" aria-hidden="true"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>发布商品</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
    </div>
    <div class="weui_cells weui_cells_access">
      <a class="weui_cell" href="/u/my_products">
        <div class="weui_cell_hd">
          <i class="fa fa-qrcode ydw_cell_hd_image" aria-hidden="true"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>我的发布</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
      <a class="weui_cell" href="/u/my_comment">
        <div class="weui_cell_hd">
          <i class="fa fa-qrcode ydw_cell_hd_image" aria-hidden="true"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>消息一览</p>
        </div>
        <div class="weui_cell_ft"></div>
      </a>
    </div>
  </div>

  {{> tabbar current='me'}}
</div>

{{#extend "scripts"}}
<script>
 $(function () {
 });
</script>
{{/extend}}
